@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: rgb(250, 134, 18);
}

/*logo and heading */

h1,
h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    color: darkorange;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 120%;
    letter-spacing: normal;
}

#menu li {
    float: right;
    margin-right: 45px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(250, 134, 18);
}

.active {
    border-bottom: 1px solid rgb(250, 134, 18);
}
/*care image*/
#care-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}

#care-image{
    height: 600px;
    width: 100%;
    background: url('../images/care.jpg') no-repeat center center;
}