/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*/

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: rgb(250, 88, 18);
}

/*logo and heading */

h1,
h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    color: darkorange;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#menu {
    font-size: 120%;
    letter-spacing: normal;
}

#menu li {
    float: right;
    margin-right: 45px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(250, 134, 18);
}

.active {
    border-bottom: 1px solid rgb(250, 134, 18);
}

/*care image and front-text */

#care-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#front-text,
#front-text h2,
#front-text h1 {
    color: #fff;
}

#care-image {
    height: 600px;
    width: 100%;
    background: url('../images/care.jpg') no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: care-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for care image */
@keyframes care-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#front-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(175, 126, 130, 0.7);

    bottom: 30px;
    right: 200px;

    position: absolute;

}

/*skin typs leftt and right side */


#skin-type {
    height: 600px;
    
}

#skin-type-right {
   padding-top: 30px;
    width: 50%;
    float: right;
    
}

#skin-type-left{
    
    width: 50%;
    height: 600;
    float: left;
}

hr {
    border-top: 1px solid #c4b2b8;
    width: 100%;
    margin: 5px 0;
}
#your-type{
    font-size:300;
    margin: 30px;
    text-align: left;
}

.right-skin {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 40px;
}

.right-skin h2 {
    text-align: center;
}

.right-skin p {
    text-align: left;
}

/*left side image*/

#image-container{
    width: 500px;
    height: 500px;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#face-image{
    background: url('../images/woman.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
   
}

#routin{
    background-image: url('../images/routine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}